@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  body {
    margin: 0;
    scroll-behavior: smooth;
    @apply bg-primary;
    @apply text-tertiary;
    @apply font-sans;
  }

  @font-face {
    font-family: "Univers";
    src: url("/fonts/UniversBlack.ttf") format('embedded-opentype');
  }
  @font-face {
    font-family: "Univers";
    src: url("/fonts/UniversLTStd-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: "Univers";
    src: url("/fonts/UniversLTStd.otf") format("opentype");
  }
  @font-face {
    font-family: "Univers";
    src: url("/fonts/Univers-light-normal.ttf") format('embedded-opentype');
  }

}